.heading {
  color:white;
  font-family: Bungee Outline;
}
.heading-2 {
  color:red;
  font-family: Rock Salt;
}
.link{
  color:white;
}

.section-1 {
  color:red;
  font-family: Cabin;
  margin
}
.articles {
  color:white;
  font-family: Bungee Outline;
}

.credits {
  color:white;
  font-family: sans-serif;
}
